@import "normalize.scss"
@import "reset.scss"
*
    box-sizing: border-box
$main-color: #CFE3E8
$main-red: #FA2F58
@font-face
    font-family: Caveat
    src: local(Caveat)
    src: url(../fonts/Caveat-Regular.ttf)
@font-face
    font-family: Open Sans
    src: local(Open Sans)
    src: url(../fonts/OpenSans-Regular)
    font-weight: 400
    font-style: normal
@font-face
    font-family: Open Sans
    src: local(Open Sans)
    src: url(../fonts/OpenSans-Bold.ttf)
    font-weight: 700
    font-style: normal
@font-face
    font-family: Open Sans
    src: local(Open Sans)
    src: url(../fonts/OpenSans-Light.ttf)
    font-weight: 300
    font-style: normal
.font-title
    font-family: Caveat
.font-main-title
    font-family: Caveat
    font-size: 64px
.font-light
    font-family: Open Sans
    font-weight: 300
.font-regular
    font-family: Open Sans
    font-weight: 400
.font-bold
    font-family: Open Sans
    font-weight: 700
.containerr
    max-width: 1140px
    margin: 0 auto
.header
    background: $main-color
    &__container
        display: flex
        flex-direction: row
        justify-content: space-between
        padding-top: 6px
    &__logo-box
        display: flex
        align-items: flex-end
    &__logo
        color: black
        text-decoration: none
        padding-left: 6px
    &__nav-menu
        display: flex
        align-items: center
    &__icons-box
        width: 206px
        height: 54px
        display: flex
        flex-direction: row
        justify-content: space-between
.nav-menu
    &__list
        width: 630px
        display: flex
        flex-direction: row
        justify-content: space-between
    &__item
        font-size: 18px
.first-section
    height: 740px
    background: $main-color
    &__container
        position: relative
        display: flex
        flex-direction: row
    &__left-wrapper
        width: 554px
        padding-top:69px
    &__title1-wrapper
        margin-bottom: 8px
    &__title2-wrapper
        padding-left: 148px
        margin-bottom: 22px
    &__title1
        font-size: 128px
    &__right-wrapper
        position: relative
        background: url(../img/main_photo.png) no-repeat 31px 52px
        width: 583px
        height:636px
        z-index: 2
    &__title2
        font-size: 128px
    &__button
        top: 505px
        left: 263px
        width: 266px
        height: 65px
.red-button
    background-color: $main-red
    color: white
    font-size: 18px
    border: none
    border-radius: 25px
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25)
    position: absolute
.bigben
    position: absolute
    height: 258px
    width: 81px
    &_first-section
        top: 11px
        left: 320px
    &_third-section
        top: 250px
        right: 10px
    &_fifth-section

.bridge
    position: absolute
    &_first-section
        top: 12px
        right: -140px
    &_third-section
        top: 200px
        left: 200px
    &_fifth-section

.phonebox
    position: absolute
    &_first-section
        top: 450px
        left: -150px
    &_third-section
        left: 738px
        top: -20px
    &_fifth-section

.bus
    position: absolute
    &_first-section
        top: 570px
        left: 542px
        z-index: 1
    &_third-section
        left: 400px
        bottom: -100px
    &_fifth-section

.waves-wrapper
    &__1
        height: 116px
    &__2
        height: 58px
    &__3
        height: 126px
    &__4
        height: 62px
.waves-png
    width: 100%
    position: relative
    &_1
        height: 131px
        top: -57px
    &_2,&_4
        height: 129px
        z-index: 1
    &_3,&_5
        height: 131px
        top: -60px
.second-section
    margin-bottom: 42px
    &__container
        display: flex
        justify-content: space-between
    &__img
        margin-bottom: 7px
    &__achivements
        text-align: center
        font-size: 24px
.third-section
    background: $main-color
    padding-top: 125px
    height: 1170px
    &__title-wrapper
        position: absolute
        top: -120px
    &__boxes
        position: relative
        display: flex
        margin-bottom: 56px
        &:last-child
            margin-bottom: 0px
    &__button
        width: 165px
        height: 42px
        right: 0px
        bottom: 0px
    &__container
        position: relative
.boxes
    &__img
        margin-right: 49px
    &__title
        font-size: 30px
        margin-left: 59px
    &__list
        padding-top: 47px
        position: relative
        z-index: 1
    &__item
        display: flex
        margin-bottom: 19px
    &__marker
        margin-right: 30px
.fourth-section
    &__container
        position: relative
        text-align: center
    &__title-wrapper
        position: absolute
        top: -139px
    &__subtitle
        font-size: 30px
        margin-bottom: 57px
.carousel-inner
    margin-bottom: 82px
    img
        border: solid 3px $main-red
        border-radius: 25px
.carousel-item
    &__wrapper
        display: flex
        flex-direction: row
        &_hor
            height: 518px
            display: flex
            align-items: center
    &__vert
        width: 360px
        height: 518px
        margin-right: 30px
        &:last-child
            margin-right: 0px
    &__hor
        width: 555px
        height: 391px
        margin-right: 30px
        &:last-child
            margin-right: 0px
.slider-button
    width: 293px
    display: flex
    justify-content: space-between
    margin: 0 auto
    &__button
        height: 64px
        width: 64px
        border: solid 3px $main-red
        border-radius: 32px
        background-color: white
        display: flex
        align-items: center
        justify-content: center
    &__arrow
        width: 41px
        &_next
            transform: rotate(180deg)
    &_1
        margin-bottom: 57px
    &_2
        margin-bottom: 42px
.fifth-section
    height: 1560px
    background: $main-color
    padding-top: 254px
    &__container
        position: relative
    &__title-wrapper
        position: absolute
        top: -264px
        z-index: 2
    &__feedback
        width: 555px
        min-height: 193px
        background-color: white
        border: solid 3px
        border-radius: 15px
    &__avatar-wrapper
        //width: 185px
        display: flex
        //flex-direction: column
        //justify-content: center
        //padding-left: 40px
    &__circle
        position: relative
        top: -78px
        //left: 40px
        height: 185px
        width: 185px
        border: solid 1px $main-red
        border-radius: 93px
        background-color: #D9D9D9
    &__links-wrapper
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        width: 1140px
    &__subtitle
        font-size: 48px
        margin-bottom: 15px        
    &__link
        font-size: 48px
        color: black
        text-decoration: none
        margin-bottom: 15px
    &__finger
        position: absolute
        top:60px
        left: 650px
.sixth-section
    &__container
        height: 1000px
        position: relative
    &__title-wrapper
        position: absolute
        top: -79px
    &__content-wrapper
        padding-top: 133px
        display: flex
        justify-content: space-between
        align-items: center
    &__form
        height: 352px
        display: flex
        flex-direction: column
        justify-content: space-between
        div
            width: 457px
            height: 84px
            font-size: 32px
            background-color: #B6B7B7
            border: solid 3px black
            border-radius: 15px
            text-align: center          
        button
            width: 457px
            height: 84px
            font-size: 36px
            position: relative
    &__contacts




            
